

$blue: #3a75b0;
$orange: #e76f00;

$primary: $blue;
$secondary: $orange;

$nav-link-color: white;
$nav-link-font-weight: regular;

$list-group-border-color: none;
$list-group-item-padding-y: 0.25rem;
$list-group-item-padding-x: 0.5rem;
$list-group-active-bg: $secondary;

$code-color: $orange;

$mobile-screen-width: 576px;

