<ul class="nav">
    <li class="nav-item"><a class="nav-link {% if file.fm.subheader_select == 'home' %}active{% endif %}" href="/community/">Home</a></li>
    <li class="nav-item"><a class="nav-link {% if file.fm.subheader_select == 'events' %}active{% endif %}" href="/community/events/">Events</a></li>
    <li class="nav-item"><a class="nav-link {% if file.fm.subheader_select == 'javaday' %}active{% endif %}" href="/community/javaday/">Java Day</a></li>
    <li class="nav-item"><a class="nav-link {% if file.fm.subheader_select == 'jugs' %}active{% endif %}" href="/community/jugs/">Java User Groups</a></li>
    <li class="nav-item"><a class="nav-link {% if file.fm.subheader_select == 'jcs' %}active{% endif %}" href="/community/jcs/">Java Champions</a></li>
    <li class="nav-item"><a class="nav-link {% if file.fm.subheader_select == 'duke' %}active{% endif %}" href="/duke">Java Mascot</a></li>
    <li class="nav-item"><a class="nav-link {% if file.fm.subheader_select == 'affinity' %}active{% endif %}" href="/community/affinity/">Java Affinity Logo</a></li>
    <li class="nav-item"><a class="nav-link {% if file.fm.subheader_select == 'duchess' %}active{% endif %}" href="/community/duchess/">jDuchess</a></li>
</ul>
