<ul class="nav">
    <li class="nav-item"><a class="nav-link {% if file.fm.subheader_select == 'home' %}active{% endif %}" href="/contribute/">Home</a></li>
    <li class="nav-item"><a class="nav-link {% if file.fm.subheader_select == 'test' %}active{% endif %}" href="/contribute/test/">Test things Out</a></li>
    <li class="nav-item"><a class="nav-link {% if file.fm.subheader_select == 'promote' %}active{% endif %}" href="/contribute/promote/">Promote Java</a></li>
    <li class="nav-item"><a class="nav-link {% if file.fm.subheader_select == 'openjdk' %}active{% endif %}" href="/contribute/openjdk/">Contribute to OpenJDK</a></li>
    <li class="nav-item"><a class="nav-link {% if file.fm.subheader_select == 'devjava' %}active{% endif %}" href="/contribute/devjava/">Contribute to Dev.java</a></li>
</ul>