<ul class="nav">
    <li class="nav-item"><a class="nav-link {% if file.fm.subheader_select == 'tutorials' %}active{% endif %}" href="/learn/">Tutorials</a></li>
    <li class="nav-item"><a class="nav-link {% if file.fm.subheader_select == 'watchlisten' %}active{% endif %}" href="/learn/watchlisten/">Watch & Listen</a></li>
    <li class="nav-item"><a class="nav-link {% if file.fm.subheader_select == 'faq' %}active{% endif %}" href="/learn/faq/">FAQ</a></li>
    <li class="nav-item"><a class="nav-link {% if file.fm.subheader_select == 'ou' %}active{% endif %}" href="/learn/ou/">Oracle University</a></li>
</ul>